A new user has been created for you. Please login using the following:
Username = ${USER_NAME}

To change your password:
1.	Click here ${LINK}.
2.	Enter new password.
3.	Confirm new password.
4.	Click save.