Your temporary password has been set to ${PASSWORD}


To change your password:
1.	Click the blue user profile icon on the top right of the DART screen.
2.	Enter new password.
3.	Confirm new password.
4.	Click save.